:root[data-theme="dark"] .rest-placeholder {
    --string-color: #FF6347; /* Tomato */
    --key-color: #32CD32; /* Lime Green */
    --value-color: #1E90FF; /* Dodger Blue */
}

@media (prefers-color-scheme: dark) {
    :root .rest-placeholder {
        --string-color: #FF6347; /* Tomato */
        --key-color: #32CD32; /* Lime Green */
        --value-color: #1E90FF; /* Dodger Blue */
    }
}

.rest-placeholder {

    --string-color: #BA2121;
    --key-color: #008000;
    --value-color: #0000FF;


    display: block;
    background-color: var(--dca-white, #fff);
    color: var(--dca-gray-darkest, #333);
    margin-bottom: 1em;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 0.875em;

    .str {
        color: var(--string-color, red);
    }
    .ellipsis {
        display: inline-block; /* or block, depending on your needs */
        text-overflow: ellipsis;
        max-width: 100ch;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: bottom; /* optional, for better alignment */
    }
    .key, .children {
        color: var(--key-color, red);
        font-weight: bold;
    }
    .null, .bool, .number {
        color: var(--value-color, blue);
    }
    .indent {
        padding-inline-start: 2em;
        border-inline-start: 1px solid var(--dca-gray-lightest, #f2f2f2);
    }
}

.rest-placeholder {
    .js-kvp:last-child > .sep {
        display: none;
    }
    .toggle {
        display: none
    }
    .js-kvp:has(.indent) {
        position: relative;
        &.hidden > .indent {
            max-height: 0;
            transition: max-height 0.3s linear;
       }
    }
    div.indent {
        max-height: attr(data-scroll-height px);
        transition: max-height 0.3s linear;
        overflow: hidden;
    }
    .js-kvp:has(.indent) > .toggle {
        &::before {
            content: "\2014"; /* em dash (—) */
        }
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
        display: inline-block;
        margin-inline-end: 0.5em;
        transition: transform 0.2s ease-in-out;
        position: absolute;
        inset-inline-start: -1.5em;
        color: var(--dca-gray-light);
        font-weight: bold;
    }
    .js-kvp.hidden:has(.indent) > .toggle::before {
        content: "+";
    }
}
